<div class="card my-3">
  <div class="card-header" >
    {{ documento.title}}
  </div>

  <div class="card-body border border-danger mh">
    <blockquote class="blockquote mb-0" >
        <div class="caja">
          <p class="texto">
            {{ documento.content }}
          </p>
        </div>
      <footer class="blockquote-footer">"{{ documento.author }}"<cite title="{{ documento.title }}"
          >Source Title</cite
        >
      </footer>
    </blockquote>
    <!-- Usar una pipe para poner la fecha tb en español y decorarla-->
    <p class="card-link">{{ documento.date | date: 'medium' }}</p>
    <div class="d-flex justify-content-center" >
      <!--  control de *ngIf mejor-->
      <button *ngIf="!documento.archiveDate" type="button" class="btn btn-info" (click)="archivarDocumento()">🗒️Archivar🗒️</button>
      <button *ngIf="documento.archiveDate" type="button" class="btn btn-danger" (click)="eliminarDocumento()">❌Eliminar❌</button>

    </div>
    <p *ngIf="documento.archiveDate">
      Fecha archivado: {{documento.archiveDate | date: 'medium' }}
    </p>
  </div>
</div>
